*{
    margin: 0;
    padding: 0;
}

:root{
    --box-shadow-small: 0 0 1em rgba(0, 0, 0, .15);
    --container-size: 70vw;
    --image-size: 25vw;
    --service-item-size: 20em;
    --accent-color: #FFCC80;
    --strong-color: #fc4a1a;
    --accent-gradient: linear-gradient(144deg, var(--strong-color), #f7b733);
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Albert Sans", Arial, sans serif;
    background: #f9f9fb;
    cursor: default;
    user-select: none;
}

a{
    color: inherit;
    text-decoration: inherit;
}

svg{
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
}

.section-title{
    font-size: 2.75em;
    text-align: center;
    margin-top: 4.5em;
    margin-bottom: 1.5em;
    text-shadow: var(--box-shadow-small);
}

.header{
    width: var(--container-size);
    margin: 3em auto;
}

.header .logo,
.header .header-button{
    display: inline-block;
}

.header .logo,
.footer .logo,
body.policy .logo,
body.p404 .logo{
    font-family: "Funnel Display";
    font-weight: 500;
    font-size: 2em;
}

.header .logo svg,
.footer .logo svg,
body.policy .logo svg,
body.p404 .logo svg{
    width: 1em;
    height: 1em;
}

.header .header-button{
    background: var(--accent-color);
    float: right;
    padding: 1em;
    border-radius: .3em;
    box-shadow: var(--box-shadow-small);
    font-weight: 600;
}

.flash{
    width: var(--container-size);
    margin: 0 auto;
    padding-top: 15vh;
}

.flash .text-container,
.flash .portrait{
    display: inline-block;
    vertical-align: middle;
}

.flash .text-container{
    width: calc(100% - var(--image-size) - 1em);
    padding-right: 5em;
    box-sizing: border-box;
    font-size: 1.25em;
}

.flash .text{
    max-width: 35em;
}

.flash .text h1{
    padding-bottom: .5em;
    background: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    text-shadow: var(--box-shadow-small);
}

.flash .text p{
    line-height: 1.5em;
    font-weight: 500;
}

.flash .portrait{
    width: var(--image-size);
    position: relative;
}

.flash .portrait img{
    width: 100%;
}

.flash .portrait .icon{
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: #fff;
    box-shadow: var(--box-shadow-small);
    box-sizing: border-box;
    padding: .6em;
    animation: sliding 8s ease infinite;
}

.flash .portrait .icon:nth-of-type(1){
    top: 0;
    left: 20%;
}

.flash .portrait .icon:nth-of-type(2){
    top: 10%;
    right: -5%;
    animation-delay: -2s;
}

.flash .portrait .icon:nth-of-type(3){
    bottom: 0;
    right: 30%;
    animation-delay: -4s;
}

.flash .portrait .icon svg{
    width: 100%;
    height: 100%;
}

@keyframes sliding{
    0%, 100%{
        transform: translate(0, 0);
    }

    50%{
        transform: translate(0, 2em);
    }
}

.benefits{
    width: var(--container-size);
    margin: 0 auto;
}

.benefits .item{
    width: calc(33% - 4.1em);
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    /* padding: 1.5em; */
    text-align: center;
    /* box-shadow: var(--box-shadow-small); */
    border-radius: 1em;
    margin: 0 2em;
    /* background: #001433; */
    /* color: #fff; */
}

.benefits .item svg{
    width: 3em;
    height: 3em;
    color: var(--strong-color);
    opacity: .75;
}

.benefits .item h2{
    margin: .5em 0;
    font-weight: 600;
    background: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.benefits .item p{
    line-height: 1.3em;
    /* font-weight: 300; */
    /* text-align: left; */
}

.services{
    position: relative;
    width: var(--container-size);
    margin: 0 auto;
    text-align: center;
}

.services .item{
    display: inline-block;
    vertical-align: top;
    width: var(--service-item-size);
    margin-top: 2em;
    /* margin-bottom: 3em; */
    box-shadow: var(--box-shadow-small);
    padding: 1.5em;
    box-sizing: border-box;
    border-radius: 1em;
    text-align: left;
}

.services .item:nth-of-type(2n){
    margin-left: calc(100% - 2 * var(--service-item-size) - .5em);
    margin-top: 6em;
}

.services .item svg{
    width: 2em;
    height: 2em;
    margin-bottom: .5em;
    color: var(--strong-color);
}

.services .item h2{
    margin-bottom: .25em;
    font-size: 1.25em;
    font-weight: 600;
    background: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services .background{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 2 * var(--service-item-size) + 2em);
}

.services .background img{
    width: 100%;
    margin: 3em 0;
    max-height: 50vh;
}

.contact{
    width: var(--container-size);
    padding-right: calc(var(--container-size) - 40em);
    box-sizing: border-box;
    margin: 5em auto;
}

.contact h1{
    background: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact p{
    margin: 1em 0;
    font-size: 1.2em;
}

.contact svg{
    width: 1.5em;
    height: 1.5em;
    margin: 0 .25em;
}

.contact a{
    font-weight: 600;
}

.footer{
    background: #333;
    padding: 5em 15vw;
    color: #888;
    box-sizing: border-box;
    text-align: right;
}

.footer .logo svg{
    margin-left: -.15em;
}

.footer a{
    display: inline-block;
    margin-top: .5em;
    font-weight: 500;
}

.footer span{
    display: block;
    opacity: .5;
    margin-top: 1em;
    font-size: .85em;
}

body.policy{
    width: 60vw;
    margin: 0 auto 5em;
}

body.policy .logo{
    text-align: center;
    margin: 2em 0;
}

body.policy h1{
    font-size: 1.75em;
    margin: 1em 0 .5em;
}

body.policy h2{
    font-size: 1.4em;
    margin: 1em 0 .5em;
}

body.policy p,
body.policy li{
    font-size: 1.1em;
    line-height: 1.4em;
}

body.policy li{
    margin-left: 1.5em;
}

body.p404{
    text-align: center;
}

body.p404 .content{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);
}

body.p404 h1{
    font-size: 1.5em;
    margin: .5em 0;
    font-weight: 600;
}

body.p404 p{
    font-family: monospace;
    letter-spacing: .15em;
    font-size: 1.5em;
    opacity: .5;
}

@media only screen and (max-width: 1100px){
    :root{
        --container-size: 85vw;
    }
}

@media only screen and (max-width: 900px){
    :root{
        --container-size: 92vw;
    }

    .section-title{
        margin-top: 2em;
    }

    .flash{
        padding-top: 2em;
        text-align: center;
    }

    .flash .text-container,
    .flash .portrait{
        display: block;
    }

    .flash .text-container{
        width: 90%;
        margin: 0 auto;
        padding-right: 0;
    }

    .flash .portrait{
        width: 50%;
        margin: 2em auto 0;
    }

    .benefits .item{
        margin: 2em auto;
        width: 80%;
        display: block;
    }

    .services .item{
        display: block;
        width: 80%;
        margin: 1em auto;
        text-align: center;
    }

    .services .item:nth-of-type(2n){
        margin: inherit;
    }

    .services .background{
        position: relative;
        transform: none;
        width: 50%;
        left: 0;
        top: 0;
        margin: 0 auto;
    }

    .services .background img:not(:nth-of-type(1)){
        display: none;
    }

    .contact{
        width: var(--container-size);
        padding: 0;
    }
}
